.inflives {
  margin-top: 0px;
  float: right;
  font-size: 20px;
  text-align: right;
  margin-left: 0px;
  margin-top: 60px;
}
.about {
  font-size: 20px;
  margin-left: 0px;
  float: center;
  text-align: center;
  margin-top: 0px;
  width: 100%;
  margin-top: 60px;
}

iframe {
  display: none;
}
.main {
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  left: 0px;

}


body {
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-position: 0vw 0%;
    background-attachment: fixed;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    overflow: scroll;
}


.html {
    overflow-x: hidden;
}

.questions {
  text-align: left;
   overflow-anchor: auto;
   margin-left: 0px;
   margin-left: 10px;
   width: 90%;
}

.contact {
text-align: left;
 overflow-anchor: auto;
 margin-left: 0px;
 line-height: 50px;
 margin-left: 10px;
}

.schedule {
  color: black;
  text-align:left;
  overflow-anchor: auto;
  margin-left: 0px;
  margin-top: 390px;
  margin-left: 10px;
}

footer {
  margin-left: 0px;
}


.faq {
  color: black;
  text-align:left;
  overflow-anchor: auto;
  margin-left: 0px;
  margin-top:20px;
  margin-left: 10px;
}

.sidenav {
        display: none;
    }
}

.carousel {
  margin-left: 0px;
}

#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  left: 20px;

  z-index: 3;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: black;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: fixed;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  position: fixed;
  z-index:0 !important;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;

}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.schimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
}

.carousel {
  position: relative;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  object-fit: cover;
}

.carousel-content {
  position: relative;
  overflow: hidden;
  transition: width .4s;
  height: 100%;
}

.slide {
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 1;
  transition: left .4s cubic-bezier(.47,.13,.15,.89);
}

.slide-2 {
  background-color: black;
}

.slide-3 {
  background-color: black;
}

.slide-4 {
  background-color: black;
}

.slide-5 {
  background-color: black;
}

.nav {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    background-color: black;
    width: 10%;
    height: auto;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    -webkit-user-select: none;
}

.nav-left {
  left: -25px;
}

.nav-right {
  right: -25px;
}


.arrow-right {
    width: 0;
    height: 0;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-left: 2vw solid white;
    background: transparent;
    margin: 28% 40%;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-right: 2vw solid white;
    margin: 28% 33%;
}

.round {
  border-radius: 50%;
}
