.inflives {
  float: left;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  margin-top: 60px;
}

footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


iframe {
  width: 768px;
  height: 569px;
  margin-top: 580px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.about {
  font-size: 20px;
  float: right;
  width: 50%;
  text-align: left;
  margin-left: 49px;
  margin-top: 60px;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.sidenav a {
  margin-top: 99px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 20px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  min-height: 100%;
  display: block;
}



.bg::after {
  content: "";
  background: url('../img/header.png') no-repeat;
  background-size: cover;
  opacity: 0.40;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

html {
  font-family: Montserrat;
  font-style: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background: #f5e5f8;


}

.bg {
  position: absolute;
 top: 0;
 width: 99vw;
 margin: 0;
 margin-top: 0px;
 height:520px;
 left: 0px;
 margin-left: 0;
}

#menuToggle {
  display: none;
}


h1 {
  font-size: 50px;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}



#menuToggle
{
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;

  z-index: 3;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: black;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


.carousel {
  width: 768px;
  height: 569px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  position: relative;
}

.carousel-content {
  position: relative;
  overflow: hidden;
  transition: width .4s;
  height: 100%;

}

.slide {
  height: 100%;
  width:100%
  background-color: black;
  position: absolute;
  z-index: 1;
  transition: left .4s cubic-bezier(.47,.13,.15,.89);
}

.nav {
  position: absolute;
  margin-top: -10px;
  background-color:black;
  width: 60px;
  height: 60px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  -webkit-user-select: none;
}

.nav-left {
  left: -30px;
  position:absolute;
top:calc(50% - 1em);
}

.nav-right {
  right: -30px;
  position:absolute;
top:calc(50% - 1em);
}

  .schimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 20px solid white;
  background: transparent;

  margin: 10px 20px;

}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right:20px solid white;
  margin: 10px 15px;
}


.faq {
  color: black;
  margin-left:30px;
  text-align:left;
   overflow-anchor: auto;
}

.questions {
  text-align: left;
  margin-left: 30px;
   overflow-anchor: auto;
}

.contact {
  margin-left: 30px;
text-align: left;
 overflow-anchor: auto;
}

.schedule {
  color: black;
  display: block;
  margin-left:30px;
  text-align:left;
   overflow-anchor: auto;
}
