.inflives {
  float: left;
  font-size: 20px;
  text-align: left;
  margin-left: 0%;
  margin-top: 100px;
  display: inline-block;
  float: left;
}

li {
  list-style: none
}


iframe {
  width: 828px;
  height: 424px;
  margin-top: 530px;
  margin-left: 25%;

}

.inflives a {
  line-height: 10px;
}

.inflives i {
  line-height: 10px;
}

.about {
    font-size: 18px;
    font-weight: 500;
    margin-right: 320px;
    flex-wrap: wrap;
    display: inline-block;
    width: 24%;
    margin-top: 220px;
    margin-left: 45px;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  padding-top: 20px;
}

.anchors {
  margin-top:100px;
  margin-left:40%;
}

a {
  text-decoration: none;
  color: black;
}

.contact a {
  color: #818181;
}

.contact a:hover {
  color: #f688f2;
}


.sidenav a {
  margin-top: 200px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: inline;
}

.sidenav a:hover {
  color: #8b8b8b;
}

.main {
    position: relative;
    left: 25%;
    padding: 0;
    margin: 0;
}

html {
  font-family: Montserrat;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background: #f5e5f8;
  overflow-x: hidden;
}


.bg {
  position: absolute;
 top: 0;
 width: 100%;
 margin: 0;
 margin-top: 0px;
 height:520px;
 left: 0px;
 margin-left: 0;
 background-image: url("../img/header.png");
 background-repeat: no-repeat;
 background-position: 41%;
}

#menuToggle {
  display: none;
}


h1 {
  font-size: 50px;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}




.carousel {
    position: relative;
    width: 768px;
    height: 569px;
    margin: 0 auto;
    margin-left: 25%;
    margin-left: 35px;
    z-index: 0;
}


.carousel-content {
  position: relative;
  overflow: hidden;
  transition: width .4s;
  height: 100%;
}

.slide {
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 1;
  transition: left .4s cubic-bezier(.47,.13,.15,.89);
}

.nav {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-color:black;
  width: 60px;
  height: 60px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  -webkit-user-select: none;
}

.nav-left {
  left: -25px;
}

.nav-right {
  right: -25px;
}


.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 20px solid white;
  background: transparent;

  margin: 10px 20px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right:20px solid white;
  margin: 10px 15px;
}


.faq {
  color: black;
  margin-left:25%;
  text-align:left;
   overflow-anchor: auto;
}

.questions {
  text-align: left;
  margin-left: 25%;
   overflow-anchor: auto;
   font-weight: 500;
   width: 45%;
}


.ayce p {
line-height: 12px;
}

.aboc p {
line-height: 12px;
}

.binary p {
  line-height: 12px;
}

.inflives p {
  line-height: 10px;
}

.inflives h1 {
  line-height: 15px;
}

.inflives h2 {
  line-height: 15px;
}

.contact a:hover {
  color: #
}

.contact {
  margin-left: 25%;
text-align: left;
 font-weight: 500;
 line-height: 32px;
}

.schedule {
  color: black;
  margin-left: 25%;
  text-align:left;
   overflow-anchor: auto;
}
